<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="static/estilo.css">
</head>
<body>
  <h1>Binvenido a mi pagina Gaming</h1>
  <p>Estos rondan a ser los 3 videojuegos mas jugados actualmente y ser de modo competitivo profesionalmente.</p>

  <div class="imagen-container">
    <img src="static/imagen1.jpeg" alt="Imagen 1">
    <h2>Play3</h2>
    <p>Reivive la experiencia clasica con nuestra nueva plataforma del gaming.</p>
    <button>Probar</button>
  </div>

  <div class="imagen-container">
    <img src="static/imagen2.jpeg" alt="Imagen 2">
    <h2>Riot</h2>
    <p>Juega estrategicamente y consige llegar a ser uno de los mejores.</p>
    <button>Probar</button>
  </div>

  <div class="imagen-container">
    <img src="static/imagen3.jpg" alt="Imagen 3">
    <h2>Steam</h2>
    <p>Juega estrategicamente y consige a ser uno de los mejores.</p>
    <button>Probar</button>
  </div>
</body>

</html>