<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="static/estilo.css">
</head>
<body>
  <h1>Binvenido a mi pagina Gaming</h1>
  <p>Estos rondan a ser los 6 videojuegos mas jugados actualmente y ser de modo competitivo profesionalmente.</p>

  <div class="imagen-container">
    <img src="static/imagen1.jpeg" alt="Imagen 1">
    <h2>PS3</h2>
    <p>Reivive la experiencia clasica con nuestra nueva plataforma del gaming.</p>
    <a href="static/direccion.html">
  <button>Ingresar</button>
</a>

</form>
  </div>

  <div class="imagen-container">
    <img src="static/imagen2.jpeg" alt="Imagen 2">
    <h2>RIOT</h2>
    <p>Juega estrategicamente y consige llegar a ser uno de los mejores.</p>
        <a href="static/direccion.html">
  <button>Ingresar</button>
</a>
  </div>

  <div class="imagen-container">
    <img src="static/imagen3.jpg" alt="Imagen 3">
    <h2>DOTA</h2>
    <p>Juega estrategicamente y consige a ser uno de los mejores.</p>
        <a href="static/direccion.html">
  <button>Ingresar</button>
</a>
  </div>
    <div class="imagen-container">
    <img src="static/imagen4.jpeg" alt="Imagen 4">
    <h2>C.O.D</h2>
    <p>Juega estrategicamente y consige a ser uno de los mejores.</p>
        <a href="static/direccion.html">
  <button>Ingresar</button>
</a>
  </div>
    <div class="imagen-container">
    <img src="static/imagen5.jpg" alt="Imagen 5">
    <h2>pubg</h2>
    <p>Juega estrategicamente y consige a ser uno de los mejores.</p>
        <a href="static/direccion.html">
  <button>Ingresar</button>
</a>
  </div>
    <div class="imagen-container">
    <img src="static/imagen6.avif" alt="Imagen 6">
    <h2>ARK</h2>
    <p>Juega estrategicamente y sobrevive por tu vida.</p>
       <a href="static/direccion.html">
  <button>Ingresar</button>
</a>

  </div>
</body>

</html>